<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>CSV-IATI converter</title>
  </head>
<link href="{{ url_for('static', filename='style.css') }}" media="screen" rel="stylesheet" type="text/css" />
<body>
<div id="page-wrapper">
<div id="beta">Still in very early development. Please report bugs.</div>
<h1 class="title">IATI CSV Conversion utility</h1>
<hr class="title" />	
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{category}}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<div id="credits"><a href="https://github.com/markbrough/CSV-IATI-Converter">Source code</a>. License: <a href="http://www.gnu.org/licenses/agpl-3.0.html">Affero GPL v3</a>.</div>
</div>
</body>
</html>
